In [1]:
import pandas as pd
import ast
df = pd.read_csv('20052021.csv')

In [2]:
df.head()

,_id,created_at,tweet_content,keyword,user_location,entities,classification
0,ObjectId(6091f3547ef2d107a44055cc),2021-05-04 12:30:48,mds nubank nunca libera mais limite pra mim,['Nubank'],Goiânia,"{'hashtags': [], 'urls': [], 'user_mentions': ...","[{""classification"":false,""created_at"":""2021-05..."
1,ObjectId(6091f3547ef2d107a44055cd),2021-05-04 12:31:09,mais viciado que a bateria do meu celular só e...,['Coca-cola'],Balneário Camboriú,"{'hashtags': [], 'urls': [], 'user_mentions': ...","[{""classification"":false,""created_at"":""2021-05..."
2,ObjectId(6091f3547ef2d107a44055ce),2021-05-04 12:31:27,toda vez que vejo Nubank nos tt vou lá conferi...,['Nubank'],None,"{'hashtags': [], 'urls': [], 'user_mentions': ...","[{""classification"":false,""created_at"":""2021-05..."
3,ObjectId(6091f3547ef2d107a44055cf),2021-05-04 12:31:25,Pedi 10k de limite pra Nubank serasi?,['Nubank'],"Rio de Janeiro, Brasil","{'hashtags': [], 'urls': [], 'user_mentions': ...","[{""classification"":true,""created_at"":""2021-05-..."
4,ObjectId(6091f3547ef2d107a44055d0),2021-05-04 12:31:20,@kayofeer @nubank Aconteceu isso c a minha mãe...,['Nubank'],"Macaé, Brasil","{'hashtags': [], 'urls': [], 'user_mentions': ...","[{""classification"":false,""created_at"":""2021-05..."

In [3]:
df = df.drop('_id', 1)

In [102]:
df.classification[1]

'[{"classification":false,"created_at":"2021-05-10T12:43:36.439Z"},{"classification":true,"created_at":"2021-05-10T12:50:50.683Z"},{"classification":true,"created_at":"2021-05-10T13:03:11.475Z"}]'

In [144]:
classification_df = pd.DataFrame()

In [145]:
import numpy as np
import json

classification = df.classification.tolist()
for index in range(0, len(classification)):
    if classification[index] is np.nan:
        new_row = {
            'classification.1': 'n/a',
            'created_at.1': 'n/a',
            'classification.2': 'n/a',
            'created_at.2': 'n/a',
            'classification.3': 'n/a',
            'created_at.3': 'n/a'
        }
    else:
        classification_dict = eval(classification[index].replace('false', 'False').replace('true', 'True'))
        range_ = len(classification_dict)
        for teste in range(0, len(classification_dict)):
            try:
                if classification_dict[0]:
                    classification_1 = classification_dict[0]['classification']
                    created_at_1 = classification_dict[0]['created_at']
            except:
                classification_1 = 'n/a'
                created_at_1 = 'n/a'
            try:
                if classification_dict[1]:
                    classification_2 = classification_dict[1]['classification']
                    created_at_2 = classification_dict[1]['created_at']
            except:
                classification_2 = 'n/a'
                created_at_2 = 'n/a'
            try:
                if classification_dict[2]:
                    classification_3 = classification_dict[2]['classification']
                    created_at_3 = classification_dict[2]['created_at']
            except:
                classification_3 = 'n/a'
                created_at_3 = 'n/a'
            new_row = {
                'classification.1': classification_1,
                'created_at.1': created_at_1,
                'classification.2': classification_2,
                'created_at.2': created_at_2,
                'classification.3': classification_3,
                'created_at.3': created_at_3
            }
    classification_df = classification_df.append(new_row, ignore_index=True)

In [146]:
classification_df.head()

,classification.1,classification.2,classification.3,created_at.1,created_at.2,created_at.3
0,0,0,1,2021-05-10T12:49:58.805Z,2021-05-10T13:27:53.365Z,2021-05-10T13:35:27.396Z
1,0,1,1,2021-05-10T12:43:36.439Z,2021-05-10T12:50:50.683Z,2021-05-10T13:03:11.475Z
2,0,0,1,2021-05-10T12:38:50.850Z,2021-05-10T12:44:02.691Z,2021-05-10T12:50:28.829Z
3,1,1,1,2021-05-10T12:55:20.472Z,2021-05-10T13:04:07.714Z,2021-05-10T13:28:58.268Z
4,0,1,1,2021-05-10T12:43:09.739Z,2021-05-10T13:01:14.481Z,2021-05-10T13:31:31.120Z

In [147]:
classification_df.shape

(738, 6)

In [148]:
df.shape

(738, 6)

In [149]:
df = df.drop('classification', 1)

In [154]:
df_final = pd.concat([df, classification_df], axis=1)

In [155]:
df_final.shape

(738, 11)

In [156]:
df_final.head()

,created_at,tweet_content,keyword,user_location,entities,classification.1,classification.2,classification.3,created_at.1,created_at.2,created_at.3
0,2021-05-04 12:30:48,mds nubank nunca libera mais limite pra mim,['Nubank'],Goiânia,"{'hashtags': [], 'urls': [], 'user_mentions': ...",0,0,1,2021-05-10T12:49:58.805Z,2021-05-10T13:27:53.365Z,2021-05-10T13:35:27.396Z
1,2021-05-04 12:31:09,mais viciado que a bateria do meu celular só e...,['Coca-cola'],Balneário Camboriú,"{'hashtags': [], 'urls': [], 'user_mentions': ...",0,1,1,2021-05-10T12:43:36.439Z,2021-05-10T12:50:50.683Z,2021-05-10T13:03:11.475Z
2,2021-05-04 12:31:27,toda vez que vejo Nubank nos tt vou lá conferi...,['Nubank'],None,"{'hashtags': [], 'urls': [], 'user_mentions': ...",0,0,1,2021-05-10T12:38:50.850Z,2021-05-10T12:44:02.691Z,2021-05-10T12:50:28.829Z
3,2021-05-04 12:31:25,Pedi 10k de limite pra Nubank serasi?,['Nubank'],"Rio de Janeiro, Brasil","{'hashtags': [], 'urls': [], 'user_mentions': ...",1,1,1,2021-05-10T12:55:20.472Z,2021-05-10T13:04:07.714Z,2021-05-10T13:28:58.268Z
4,2021-05-04 12:31:20,@kayofeer @nubank Aconteceu isso c a minha mãe...,['Nubank'],"Macaé, Brasil","{'hashtags': [], 'urls': [], 'user_mentions': ...",0,1,1,2021-05-10T12:43:09.739Z,2021-05-10T13:01:14.481Z,2021-05-10T13:31:31.120Z